<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="wlniao" value="http://nuget.wlniao.cn/nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="aspnetvnext" value="https://www.myget.org/F/aspnetvnext/api/v2/" />
  </packageSources>
</configuration>